.main {
  background-color: #62374e;
  width: 400px;
  height: 300px;
  display: flex;
  padding: 70px;
  justify-content: space-between;
}
.main1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box1 {
  width: 60px;
  height: 60px;
  background-color: #fdc57b;
}
.box1 {
  width: 60px;
  height: 60px;
  background-color: #fdc57b;
}
.box2 {
  width: 60px;
  height: 60px;
  background-color: #fdc57b;
}
.box3 {
  width: 60px;
  height: 60px;
  background-color: #fdc57b;
}
.box4 {
  width: 60px;
  height: 60px;
  background-color: #fdc57b;
}
